@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript" src="~/Scripts/adgrid.js"></script>

<div id="grid">
    <h1>
        Above 4 links are for each requested view in the assesment. View numbers match the assesment view numbers. Please click on the above view links to see variuous requested views.
    </h1>
</div>