@model WebApplication1.Models.AdModel

@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript" src="~/Scripts/adgrid.js"></script>

<div id="grid">
    <h1>All ads</h1>
    @Html.Partial("Grid", Model)

    <h1>All ads</h1>
    @Html.Partial("Grid", Model)

</div>